<footer>
        
	<div class="pie-de-pag">
		<article>
			<i class="fas fa-credit-card icono"></i>
			<h4>Pagá con tarjeta o en efectivo</h4>
		</article>
		<article>
			<i class="fas fa-gift icono"></i>
			<h4>Envío gratis desde los $ 2.500</h4>
				MercadoPuntos.</p>
		</article>
		<article>
			<i class="fas fa-user-shield icono"></i>
			<h4>Seguridad de principio a fin</h4>			</p>
		</article>
		<article>
			<i class="fa fa-phone icono"></i>
			<h4>Servicio de atención al cliente</h4>
			<p>de 9:00 a 18:00
			</p>
		</article>
		<article>
			<!-- <i class="fas fa-at icono"></i> -->
			<h4>gerencia@ferreteriamaris.com</h4>
			</p>
		</article>
	</div>

	<div class="legales">
		<p>El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Ferreteria Maris. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online para los productos presentados/publicados.</p> 
		<p>Copyright © 2021 Ferreteria Maris.</p>
	</div>
</footer>