<header>
	<section class="cabecera">

		<div class="logo">
			<a href="/">
				<img alt="Logo_Ferreteria_Maris" src="/images/Logos/LogoRectEstLF_300.jpg" class="img-logo"> 
			</a>
		</div>
		
		<p class="login"><a href="/users/login">Login</a></p>
	</section>
	
	<section class="cabecera-abajo">
		<div class="cabecera-abajo-top">
			<a href="#" class="burguer-button">
				<i class="fas fa-bars"></i><!--la media query a partir de 767?-->
			</a>    
			<nav class="nav-bar-burger"> <!--En principio, no lo mostramos. Sólo para cuando activemos la funcionalidad de la hamburguesa-->
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/">Productos</a></li>
					<li><a href="/">Novedades</a></li>
					<li><a href="/">Ofertas</a></li>
					<li><a href="/register">Registro</a></li>
					<li><a href="/">Quiénes somos</a></li>
				</ul>
			</nav>
		
		</div>

		<form class="search-bar" action="#" method="GET">
			<input type="text" placeholder="Buscar producto" name="search-bar">
			<button type="submit"><i class="fa fa-search"></i></button>
		</form>

		<a href="#" class="shopping-cart">
			<input type="checkbox" id="btn-modal">
    <label for="btn-modal" class="fas fa-shopping-cart"></label>
    <!-- <div class="modal">
        <div class="contenedor">
            <header>Carrito de compras</header>
            <label for="btn-modal">X</label>
            <div class="contenido">
                <div class="modal-content">
                </div>    
            </div>
        </div>
    </div>         -->

		</a>

		<nav class="nav-bar-desktop">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/">Productos</a></li>
				<li><a href="/">Novedades</a></li>
				<li><a href="/">Ofertas</a></li>
				<li><a href="/register">Registro</a></li>
				<li><a href="/">Quiénes somos</a></li>
			</ul>
		</nav>

	</section>

</header>