<header>
	<section class="cabecera">

		<div class="logo">
			<a href="/">
				<img alt="Logo_Ferreteria_Maris" src="/images/Logos/logoInbaco.png" class="img-logo"> 
			</a>
		</div>
		
		<form class="search-bar" action="#" method="GET">
			<input type="text" placeholder="Buscar producto" name="search-bar" class="query-busqueda">
			<button type="submit"><i class="fa fa-search"></i></button>
		</form>

		<div class="login"></div>
			<% if (locals.userLogged) { %>
				<img src="../../images/uploads/users/<%= locals.userLogged.avatar %>" class="avatar" alt="avatar">
				<p class="txtBlanco">Hola <%= locals.userLogged.user %></p>
					<p><a href="/users/logout">Logout</a></p>
			<% } else { %>
					<p><a href="/users/create">Registro</a></p>
					<p><a href="/users/login">Login</a></p>	
			<% } %>
		</div>

	</section>

	
	
	<section class="cabecera-abajo">
		<div class="">
			<a href="#" class="burguer-button">
				<i class="fas fa-bars"></i><!--la media query a partir de 767?-->
			</a>    
			<nav class="nav-bar-burger"> <!--En principio, no lo mostramos. Sólo para cuando activemos la funcionalidad de la hamburguesa-->
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/">Productos</a></li>
					<li><a href="/">Novedades</a></li>
					<li><a href="/">Ofertas</a></li>
					<li><a href="/">Quiénes somos</a></li>
				</ul>
				<a href="#" class="shopping-cart">
					<input type="checkbox" id="btn-modal">
					<label for="btn-modal" class="fas fa-shopping-cart"></label>
				</a>
			</nav>
		</div>

		<nav class="nav-bar-desktop">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/">Productos</a></li>
				<li><a href="/">Novedades</a></li>
				<li><a href="/">Ofertas</a></li>
				<li><a href="/">Quiénes somos</a></li>
			</ul>
			<a href="#" class="shopping-cart">
				<input type="checkbox" id="btn-modal">
				<label for="btn-modal" class="fas fa-shopping-cart"></label>
			</a>
		</nav>

	</section>

</header>