<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c066586938.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/estilos.css">

    <title>Bienvenido a Feretería Maris</title>
</head>
<body>

    <header>
        <section class="cabecera">

            <div class="logo">
                <a href="/">
                    <img alt="Logo_Ferreteria_Maris" src="/images/Logos/LogoRectEstLF_300.jpg" class="img-logo"> 
                </a>
            </div>
            
            <p class="login"><a href="/login">Login</a></p>
        </section>
        
        <section class="cabecera-abajo">
            <div class="cabecera-abajo-top">
                <a href="#" class="burguer-button">
                    <i class="fas fa-bars"></i><!--la media query a partir de 767?-->
                </a>    
                <nav class="nav-bar-burger"> <!--En principio, no lo mostramos. Sólo para cuando activemos la funcionalidad de la hamburguesa-->
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/">Productos</a></li>
                        <li><a href="/">Novedades</a></li>
                        <li><a href="/">Ofertas</a></li>
                        <li><a href="/register">Registro</a></li>
                        <li><a href="/">Quiénes somos</a></li>
                    </ul>
                </nav>
            
            </div>

            <form class="search-bar" action="#" method="GET">
                <input type="text" placeholder="Buscar producto" name="search-bar">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>

            <a href="#" class="shopping-cart">
                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
            </a>

            <nav class="nav-bar-desktop">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Productos</a></li>
                    <li><a href="/">Novedades</a></li>
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="/register">Registro</a></li>
                    <li><a href="/">Quiénes somos</a></li>
                </ul>
            </nav>

        </section>

    </header>


    <main>
        <section>
        
            <!-- En este section armariamos el carrousel de fotos de prodcutos-->
            <img src="/images/Ferre_lateral.jpg" alt="imagen-slide-1" class="carrousel1">

        </section>

        <section class="separador1">
            <br>
        </section>

        <section class="destacados">
            <!-- En este section van los 3 productos destacados-->
            
            <article class="art-destacado">
                <img src="/images/600px-No_image.png" alt="producto destacaso" class="destacados-img">
                <div class="caja-descripcion">
                    <h4 class="description">Herramienta #1</h4>
                    <p class="precio">$9999,99</p>
                    <div class="caja-boton">
                        <a href="#" class="boton-comprar">Comprar</a>
                        <a href="/productDetail" class="boton-detalles">Detalles</a>
                    </div>
                </div>
                
            </article>
                
            <article class="art-destacado">
                <img src="/images/600px-No_image.png" alt="producto destacaso" class="destacados-img">
                <div class="caja-descripcion">
                    <h4 class="description">Herramienta #2</h4>
                    <p class="precio">$9999,99</p>
                    <div class="caja-boton">
                        <a href="#" class="boton-comprar">Comprar</a>
                        <a href="/productDetail" class="boton-detalles">Detalles</a>
                    </div>
                </div>
            </article>


            <article class="art-destacado">
                
                <img src="/images/600px-No_image.png" alt="producto destacaso" class="destacados-img">
                <div class="caja-descripcion">
                    <h4 class="description">Herramienta #3</h4>
                    <p class="precio">$9999,99</p>
                    <div class="caja-boton">
                        <a href="#" class="boton-comprar">Comprar</a>
                        <a href="/productDetail" class="boton-detalles">Detalles</a>
                    </div>
                </div>
            </article>
        </section>

        <section class="separador2">
            <br>
        </section>

        <section class="en-contacto">
            <div class="medio-contacto">
                F&Q
            </div>

            <div class="medio-contacto">
                gerencia@fereteriamaris.com
            </div>

            <div class="medio-contacto">
                whatsapp
            </div>

            <div class="medio-contacto">
                000 - 0000 - 0000
            </div>

        </section>

        <section class="separador2">
            <br>
        </section>

    </main>
        
    <footer>
        <!-- Otros Iconos -->
        <!-- <i class="fas fa-shopping-basket icono"></i> -->
        <!-- <i class="fa fa-whatsapp icono"></i> -->
        <!-- <i class="fa fa-phone icono"></i> -->

        <div class="pie-de-pag">
            <article>
                <i class="fas fa-credit-card icono"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
            </article>
            <article>
                <i class="fas fa-gift icono"></i>
                <h4>Envío gratis desde los $ 2.500</h4>
            </article>
            <article>
                <i class="fas fa-user-shield icono"></i>
                <h4>Seguridad de principio a fin</h4>
                </p>
            </article>
            <article>
                <i class="fa fa-phone icono"></i>
                <h4>Servisio de atención al cliente</h4>
                <p>de 9:00 a 18:00
                </p>
            </article>
            <article>
                <i class="fas fa-at icono"></i>
                <h4>gerencia@ferreteriamaris.com</h4>
                </p>
            </article>
        </div>

        <div class="legales">
            <p>El uso de este sitio web implica la aceptación de los Términos y Condiciones y de las Políticas de Privacidad de Ferreteria Maris. Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online para los productos presentados/publicados.</p> 
            <p>Copyright © 2021 Ferreteria Maris.</p>
        </div>
    </footer>

</body>

</html>