<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="stylesheets/products.css">
    <title>Products</title>
</head>


<body>
    <%- include('./partials/header') %>

    <main class="crear-producto">
      
        <h2>Crear producto</h2>
      

        <form action="#" method="POST" autocomplete="on" >


            <div class="form-query">
                <label for="name">Nombre del producto</label>
                <input type="text" name="name" id="name" required minlength="3" class="form-space">
            </div>

            <div class="form-query">
                <label for="description">Descripción</label>
                <input type="text" name="description" id="description" required minlength="5" class="form-space">
            </div>

            <div>
                <p style="border: solid red 1px;">
                ##### SUBIR IMAGEN #####
                </p>
            </div>
            <div class="form-query">
                <label>
                    Categoría
                </label>
                <select id="category" name="category" class="form-space">
                    <option value="herramientas">Herramientas</option>    
                    <option value="tornillos">Tornillos</option>    
                    <option value="electricidad">Electricidad</option>    
                    <option value="adhesivos">Electricidad</option>
                    <option value="maquinaria">Maquinaria</option>    
                    <option value="otra">Otra</option>
                </select>

            </div>


            <div class="form-query">
                <label for="caracteristicas">Características específica del producto</label>
                <input type="text" name="caracteristicas" id="caracteristicas" class="form-space">
            </div>

            <div class="form-query">
                <label for="precio">Precio</label>
                <input type="number" min="0" max="10000" step="1" name="price" id="price" required="required" class="form-space">
            </div>

            <div class="form-query">
                <button class="form-space padd05 margen05 resetear" type="reset" value="Reset">Reset</button>
                <button class="form-space padd05 margen05 enviar" type="submit" value="Submit">Enviar</button>
            </div>
        
        </form>




          

    </main>
        
    <%- include('./partials/footer') %>

</body>
</html>