<!--Me parece que todo esto ya se puede borrar
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>

    <title>Carrito de compras</title>
</head>
<body>

    <%- include('./partials/header') %>

    <main>
        <input type="checkbox" id="btn-modal">
    <label for="btn-modal" class="fas fa-shopping-cart"></label>
    <div class="modal">
        <div class="contenedor">
            <header>Carrito de compras</header><!--Encabezado de la ventana moda
            <label for="btn-modal">X</label>
            <div class="contenido"><!--DONDE DICE "contenido" DEBERIA DECIR "carrito-de-compras"????
                <div class="modal-content">
                </div>    
            </div>
        </div>
    </div>        

    </main>
        
    <%- include('./partials/footer') %>

</body>
</html>-->