<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>

    <title>Detalle de producto</title>
</head>
<body>

    <%- include('./partials/header') %>

    
    <main>

       <section class="productDetails">
            <div class="columna1">
                <div class="productTitle">
                    <h3>Conductores Electricos</h3>
                </div>
    
                <div class="productImg">
                    <img src="/images/ConductoresElectricos.JPG" alt="Conductores Electricos">
    
                </div>

            </div>    
                

            <div class="columna2">

                <div class="productDescription">
                    <p class="titulo">Conductores Electricos</p>
                    <p>    
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
                
                <div class="productInfoList">
                    <p>Tamaños y medidas disponibles:</p>
                    <ul>
                        <li>Caracterisctica #1</li>
                        <li>Caracterisctica #2</li>
                        <li>Caracterisctica #3</li>
                        <li>Caracterisctica #4</li>
                        <li>Caracterisctica #5</li>
                    </ul>

                </div>

                <div class="productBotonComprar">
                    <a href="#" class="boton-comprar-art">Comprar</a>

                </div>

                <div class="productArticulosSimilares">
                    <p class="titulo">Articulos similares</p>
                    <div class="pequeno-cubo">
                        
                        <article>
                            <div class="related-productImg">
                                <img src="/images/producto1.JPG" alt="Producto 1">
                
                            </div>
                            <p>Producto 1</p>
                        </article>
                        
                        <article>
                            <div class="related-productImg">
                                <img src="/images/producto2.JPG" alt="Producto 2">
                
                            </div>
                            <p>Producto 2</p>
                        </article>

                        <article>
                            <div class="related-productImg">
                                <img src="/images/producto3.JPG" alt="Producto 3">
                
                            </div>
                            <p>Producto 3</p>
                        </article>
                    </div>
                </div>

                </div>
            
            </div>


       </section>
 



    </main>
        
    <%- include('./partials/footer') %>

</body>
</html>