<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Formulario de registro</title>
</head>
<body>

    <%- include('./partials/header') %>


    <main>
        
        <h1>Register</h1>
        <h1>Formulario de registro</h1>

    </main>
        
    <%- include('./partials/footer') %>

</body>
</html>