/* 
Color del logo: #1E4E75; 
Podemos fijar el head con position: sticky

/**** COLORES ****

Azul principal: #157ED2
Azul Oscuro: #004985 
Rojo: #D12F2A
Verde: #40D10A

Fondo:  #F2F6F7


Otros
Celeste: #33A4FF
Amarillo: #FFD700
Amarillo: #EAC926


*/

a{
    color:#F2F6F7;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    box-sizing: border-box;
}


header {
    width: 100%;
    /* background-color: #181DBD; */
    background-color: #157ED2;
}

.cabecera{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-bottom: #F2F6F7 solid 3px;
}

.logo{
    display: inline-block;
    margin-left: 0;
    width: 25%;
}

.img-logo{
    width: 100%;
    padding: 1px;
}

.login{
    display: block;
    margin-right: 0;
    border: greenyellow solid 1px;
    width: 30%;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}


.cabecera-abajo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #004985;
    padding: 4px;
}

.burguer-button {
    background-color:#004985;
    color:#F2F6F7;
    display: inline-block;
    max-width: 50px;
    padding: 10px 10px;
    font-size: 17px;
    text-align: left;
    border-radius: 8px;
}

.search-bar{
    padding: 12px;
}

.shopping-cart {
    color: #F2F6F7;
    display: block;
    font-size: 23px;
    margin-right: 20px;
    padding: 2px;
}


.art-destacado h4{
    color: black;
    font-size: 18px;
}

.nav-bar ul {
    list-style: none;
    margin: 0px 1px;
    padding: 3px
}


.nav-bar-burger{
    display: none;
}

.nav-bar-desktop{
    display: none;
}




footer{
    width: 100%;
    background-color:#157ED2;
    text-align: center;
}

footer i{
    color: #F2F6F7;
}

footer p {
    font-size: 13px;

}



/****** articulos destacados *******/


.destacados{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #F2F6F7;
    border: #004985 1px solid;
    padding: 15px;
    justify-content: space-around;
    box-shadow: 0 0 10px rgb(100, 100 , 100);
}

.art-destacado{
    background-color:#157ED2;
    border: #004985 1px solid;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 0 0 10px rgb(100, 100 , 100);
}


.caja-descripcion{
    background-color:#F2F6F7;
    border-top: gray 1px solid;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.description{
    padding-top: 5px;
    color: black;
}

.precio{
    padding: 2px 2px;
    margin-top: 5px;
    size: 12px;
    color:#40D10A;
}

.caja-boton{
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.boton-comprar,
.boton-detalles{
    font-size:14px;
    color:#F2F6F7;
    display:inline-block;
	cursor:pointer;
    border-radius:3px;
    padding:6px;
    text-decoration:none;
    width: 45%;
    text-align: center;
    min-width: 80px;
    margin: 5px;
}


.boton-comprar{
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #D12F2A 5%, #bc3315 100%);
	background-color:#D12F2A;
	border:1px solid #942911;
    text-shadow:0px 1px 0px #854629;
}

.boton-comprar:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #D12F2A 100%);
	background-color:#bc3315;
}


.boton-detalles{
    box-shadow:inset 0px 1px 0px 0px #83cf6c;
	background:linear-gradient(to bottom, #1bd024 5%, #58bc15 100%);
	background-color:40D10A;
	border:1px solid rgb(0, 124, 0);
    text-shadow:0px 1px 0px #854629;
}

.boton-detalles:hover {
	background:linear-gradient(to bottom, #15bc63 5%, rgb(111, 209, 111) 100%);
    background-color:limegreen;
}


.separador1{
    height: 5px;
    width: 100%;
    text-align: center;
}

.separador2{
    height: 15px;
    width: 100%;
    text-align: center;
}


/****** IMG *******/

.carrousel1{
    width: 100%;
    height: auto;
    padding: 1%;
    border: solid 4px #157ED2;
}

.destacados-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    padding: 2%;
}


/****** EN CONTACTO *******/

.en-contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #157ED2;
    border: #004985  1px solid;
    padding: 15px;
    justify-content: space-around;
    box-shadow: 0 0 10px rgb(100, 100 , 100);
}

.medio-contacto{
    background-color: #F2F6F7;
    border:#004985 1px solid;
    width: 45%;
    padding: 10px;
    margin: 5px 0;
    height: 50px;
    box-shadow: 0 0 10px rgb(100, 100 , 100);
    text-align: center;
    overflow: auto;
}



footer{
    padding: 20px;
}

.pie-de-pag{
    color: #F2F6F7;
}

.pie-de-pag article .icono{
    padding: 5px;
    transition: all 0.5s;
    font-size: 2em;
    margin-top: 10px;
}

.pie-de-pag article .icono:hover{
    /* color: #39b54a; */
    font-size: 2.5em;
}

    
.legales{
    border-top: #F2F6F7 1px solid;
    padding: 5px;
    margin-top: 25px;
}

.legales p{
    color:#F2F6F7;
    padding: 5px;
    margin-top: 5px;
}


/****** PAGINA DETALLE DE PRODUCTOS *******/

.productDetails{
    width: 98%;
}

.productDescription{
    margin-top: 10px;
}

.productTitle{
    margin-top: 10px;
    padding: 5px;
    font-size: 1.2em;
}

.productImg{
    margin-top: 10px;
    width: 100%;
}

.productImg img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.productDescription{
    padding: 5px;
    margin-bottom: 10px;
}

.productDetails h3{
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
}

.productDetails .titulo{
    font-weight: bold;
    font-size: 1.2em;
    padding: 2px;
    margin-bottom: 4px;
}

.productInfoList,
.productBotonComprar,
.productArticulosSimilares,
.ProductRedesSociales{
    margin-top: 20px;
    margin-left: 5px;
}

.productInfoList{
    border-top: gray solid 1px;
    margin-top: 15px;
    margin-left: 3px;
}

.productInfoList p{
    font-weight: bold;
    padding: 10px 0;
}

.productInfoList li{
    margin-bottom: 4px;
}


.productBotonComprar{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.boton-comprar-art{
    font-size:14px;
    color:#F2F6F7;
    display:inline-block;
	cursor:pointer;
    border-radius:3px;
    padding:6px;
    text-decoration:none;
    width: 85%;
    text-align: center;
    margin: 5px;
}


.boton-comprar-art{
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #D12F2A 5%, #bc3315 100%);
	background-color:#D12F2A;
	border:1px solid #942911;
    text-shadow:0px 1px 0px #854629;
}

.boton-comprar-art:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #D12F2A 100%);
	background-color:#bc3315;
}


.productArticulosSimilares{
    background-color:#157ED2;
    padding: 5px;
    color: #F2F6F7;
    border:#004985 2px solid;
    margin-bottom: 15px;
}

.productArticulosSimilares,
.ProductRedesSociales{
    text-align: center;
}

.pequeno-cubo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border: #F2F6F7 1px solid;
}

.pequeno-cubo article{
    border: #F2F6F7 2px solid;
}

.pequeno-cubo article p{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    
}

.related-productImg img{
    max-width: 100%;
            
}



/****** @media *******/

/* 
@media (min-width: 361px) {

}
 */

@media (min-width:700px) {
    
    .cabecera{
        padding: 2px;
    }

    .login{
        font-size: 20px;
        text-align: center;
        padding: 15px;
    }
    

    .nav-bar-desktop{
        display: flex;
        flex-basis: 100%;
        height: 30px;
        align-items: center;
        color: #F2F6F7;
    }
    .nav-bar-desktop ul{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        border-top: #F2F6F7 1px solid;
        display: flex;
        list-style: none;
        justify-content: space-around;      
    }

    .nav-bar-desktop li{
        margin: 10px;
    }

    .burguer-button {
        display: none;
    }

    .destacados{
        flex-direction: row;
        padding: 10px;
    }

    .art-destacado{
        flex-basis: 30%;
        justify-content: space-between;
        padding: 20px;
    }
    
    .medio-contacto{
        width: 22%;
        height: 50px;
    }
}





/****** MEDIA PARA LA PAGINA DETALLE DE PRODUCTOS *******/

@media (min-width:700px) {

    .productDetails{
        display: flex;
        width: 100%;
    }

    .columna1,
    .columna2{
        padding: 2px;
    }

    .columna1{
        flex-basis: 49%;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .columna2{
        justify-content: flex-start;
        flex-basis: 49%;
        margin-top: 0px;
        margin-bottom: 20px;                
    }

    .productTitle{
        margin-left: 10px;
        margin-top: 2px;
    }

    .productImg{
        margin-top: 2px;
    }

    .productImg{
        width: 100%;
    }

    .productDescription,
    .productInfoList,
    .productBotonComprar,
    .productArticulosSimilares,
    .ProductRedesSociales{
        margin-top: 30px;
        margin-left: 10px;
    }
    
    .productInfoList{
        border-top: none
    }

    .productBotonComprar{
        justify-content: flex-start;
    }
    
}
