/* 
Color del logo: #1E4E75; 
Podemos fijar el head con position: sticky
*/

* {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    box-sizing: border-box;
}


header {
    width: 100%;
    /* background-color: #181DBD; */
    background-color: #157ed2;
}

.cabecera{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border-bottom: white solid 3px;
}

.logo{
    display: inline-block;
    margin-left: 0;
    width: 30%;
}

.img-logo{
    width: 100%;
    padding: 1px;
    border: white 1px solid;
}

.login{
    display: block;
    margin-right: 0;
    border: greenyellow solid 1px;
    width: 30%;
    font-size: 30px;
    text-align: right;
}


.cabecera-abajo {
    border-bottom: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #1e4e60;
    padding: 4px;
}

.burguer-button {
    background-color:#1e4e60 ;
    color: white;
    display: inline-block;

    max-width: 50px;
    padding: 10px 10px;
    font-size: 17px;
    text-align: left;
    border-radius: 8px;
}

.search-bar{
    padding: 8px;
}

.shopping-cart {
    color: #ffffff;
    display: block;
    font-size: 23px;
    margin-right: 20px;
    padding: 2px;
}


h4{
    color: black;
    font-size: 18px;
}

.nav-bar ul {
    list-style: none;
    margin: 0px 1px;
    padding: 3px
}


.nav-bar-burger{
    display: none;
}

.nav-bar-desktop{
    display: none;
}




footer{
    width: 100%;
    background-color: #157ed2;
    text-align: center;
}

footer i{
    color: white;
}

footer p {
    font-size: 13px;

}




/****** IMG *******/

.carrousel1{
    width: 100%;
    height: auto;
    border: white solid 2px;
    padding: 1%;
    border: 2px solid rgb(0, 162, 255);
}



/****** @media *******/

@media (min-width: 361px) {

}

@media (min-width:700px) {
    
    .nav-bar-desktop{
        display: flex;
        flex-basis: 100%;
        height: 30px;
        align-items: center;
        color: white;
    }
    .nav-bar-desktop ul{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        border-top: white 1px solid;
        display: flex;
        list-style: none;
        justify-content: space-between;      
    }

    .nav-bar-desktop li{
        margin: 10px;
    }

    .burguer-button {
        display: none;
    }
}