<<<<<<< HEAD
* {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

.cabecera{
    border: gray solid 2px;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: block;
    margin-left: 0;
    border: springgreen solid 1px;
    min-width: 200px;
    max-width: 300px;
}

.login{
    display: block;
    margin-right: 0;
    border: springgreen solid 1px;
    min-width: 200px;
    max-width: 300px;
}





=======
>>>>>>> e254ec070eed235f9a38bc87aac1077adbaaafcc
h1{
    color: blue;
    background-color: #EAC926;
}

h2{
    color: yellow;
    background-color: black;
}
