.crear-producto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 95%;
    text-align: center;
    padding: 20px;

}


.form-query{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    /* margin: 15px; */
    margin-top: 20px;
}

.form-space{
    min-width: 90%;
    min-height: 30px;
}

.padd05{
    padding: 5px;
}

.margen05{
    margin: 5px;
}

.enviar{
    border: solid 2px #40D10A;
    padding: 15px;
}

.boton-login{
    border: solid 2px #157ED2;
    padding: 20px;
}

.borrar{
    border: solid 2px #D12F2A;
    padding: 10px;
}


.text-alert{
    padding: 5px;
    color: #D12F2A;
}

.login-alert{
    margin-top: 25px;
    padding: 15px;
    color: white;
    border: solid 3px white;
    background-color: #D12F2A;
    /* border: solid 3px #D12F2A;
    background-color: #004985; */
}

.ancho-total{
    width: 100%;
}

.art-lista h4{
    color: black;
    font-size: 20px;
    padding: 5px;
}

.description-box{
    padding: 10px;
}

.description-dato{
    padding-top: 10px;
}


.art-lista{
    background-color:#157ED2;
    border: #004985 1px solid;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 0 0 10px rgb(100, 100 , 100);
}

.create-prod-button{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    background-color: #157ED2;
}


.boton-borrar{
    font-size:14px;
    color:#F2F6F7;
    display:inline-block;
	cursor:pointer;
    border-radius:3px;
    padding:6px;
    text-decoration:none;
    width: 45%;
    text-align: center;
    min-width: 80px;
    margin: 5px;
}


.boton-borrar{
    box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #D12F2A 5%, #bc3315 100%);
	background-color:#D12F2A;
	border:1px solid #942911;
    text-shadow:0px 1px 0px #854629;
    min-width: 120px;
}

.boton-borrar:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #D12F2A 100%);
	background-color:#bc3315;
}

.prod-title{
    text-align: center;
    margin-bottom: 10px;
}

.option-query{
    padding: 5px;
    min-width: 200px;
    margin-bottom: 20px;
}

/* Posiblemente haya que mover esto al media Width y después reveer la versión mobile */
.contenedor-editar-producto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}


.cambiarContrasenna{
    border: #004985 1px solid;
    padding: 10px 5px 25px 5px;
    margin-top: 10px;
    background-color: #157ED2;
}

label{
    padding: 4px;
}


.boton-usuarios{
    font-size:14px;
    color:#F2F6F7;
    display:inline-block;
	cursor:pointer;
    border-radius:3px;
    padding:6px;
    text-decoration:none;
    width: 25%;
    text-align: center;
    min-width: 80px;
    margin: 5px 15px 5px;
    box-shadow:inset 0px 1px 0px 0px #83cf6c;
	background:linear-gradient(to bottom, #1bd024 5%, #58bc15 100%);
	background-color:40D10A;
	border:1px solid rgb(0, 124, 0);
    text-shadow:0px 1px 0px #854629;
}

.boton-usuarios:hover {
	background:linear-gradient(to bottom, #15bc63 5%, rgb(111, 209, 111) 100%);
    background-color:limegreen;
}

.recordarme{
    /* padding: 15px; */
    margin: 20px 5px 2px;
}

.letrasBlancas{
    color: white;
}


.con-errores{
    color: yellow;
    background-color: red;
}

.con-errores-js{
    max-width: 40%;
    color: yellow;
    background-color: red;
    list-style-type: none;
    padding: 8px;
    margin: auto;
    border: solid 3px white;
    text-align: center;
}

.texto-centrado{
    text-align: center;
}


/* div.errores-centrado{
    max-width: 50%;
    margin: auto;
    text-align: center;
} */

@media (min-width:700px) {
    
    .art-lista{
        flex-basis: 22%;
        justify-content: space-between;
        padding: 15px;
    }

    .prod-columna1,
    .prod-columna2{
        padding: 2px;
    }

    .prod-columna1{
        /* width: 100%; */
        flex-basis: 46%;
        margin-top: 0px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
    }

    .prod-columna2{
        /* width: 54%; */
        justify-content: flex-start;
        flex-basis: 52%;
        margin-top: 0px;
        margin-bottom: 20px;     
        align-items: center;
        justify-content: center;           
    }

    .user-columna1{
        /* width: 100%; */
        flex-basis: 40%;
        margin-top: 0px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
    }

    .user-columna2{
        /* width: 54%; */
        justify-content: flex-start;
        flex-basis: 58%;
        margin-top: 0px;
        margin-bottom: 20px;     
        align-items: center;
        justify-content: center;           
    }
}