<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>

    <title>Lista de productos</title>
</head>
<body>

    <%- include('../partials/header') %>


    <main>
        
        <section class="separador1">
            <br>
        </section>

        <section class="destacados">
            <!-- En este section van los 3 productos destacados-->
            
            <article class="art-destacado">
                <img src="/images/600px-No_image.png" alt="producto destacaso" class="destacados-img">
                <div class="caja-descripcion">
                    <h4 class="description">Herramienta #1</h4>
                    <p class="precio">$9999,99</p>
                    <div class="caja-boton">
                        <a href="#" class="boton-comprar">Comprar</a>
                        <a href="/productDetail" class="boton-detalles">Detalles</a>
                    </div>
                </div>
                
            </article>
                
            <article class="art-destacado">
                <img src="/images/600px-No_image.png" alt="producto destacaso" class="destacados-img">
                <div class="caja-descripcion">
                    <h4 class="description">Herramienta #2</h4>
                    <p class="precio">$9999,99</p>
                    <div class="caja-boton">
                        <a href="#" class="boton-comprar">Comprar</a>
                        <a href="/productDetail" class="boton-detalles">Detalles</a>
                    </div>
                </div>
            </article>


            <article class="art-destacado">
                
                <img src="/images/600px-No_image.png" alt="producto destacaso" class="destacados-img">
                <div class="caja-descripcion">
                    <h4 class="description">Herramienta #3</h4>
                    <p class="precio">$9999,99</p>
                    <div class="caja-boton">
                        <a href="#" class="boton-comprar">Comprar</a>
                        <a href="/productDetail" class="boton-detalles">Detalles</a>
                    </div>
                </div>
            </article>
        </section>

        <section class="separador2">
            <br>
        </section>

        

        <section class="separador2">
            <br>
        </section>

    </main>
        
    <%- include('../partials/footer') %>

</body>

</html>